@charset "UTF-8";

/*importing dsou stylesheets for development*/
/*@import url('https://www.dontspyonus.org.uk/assets/site/dontspyonus/css/bootstrap.css')*/
/*@import url('https://www.dontspyonus.org.uk/assets/site/dontspyonus/css/style.css');*/

body {
    margin: 0;
    /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    padding: 0;
}
#webtivistform {
    width: 100%;
    background: #FFFFFF;
    margin: 0 auto;
    /* the auto margins (in conjunction with a width) center the page */
    padding: 10px 10px 10px 10px;
    border: 1px solid #E6E6E6;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
    color: #000;
    /* this overrides the text-align: center on the body element. */
}
#webtivistform p {
    color: #666;
}
#webtivistform strong {
    color: #000;
}
#webtivistform input[type="text"] {
    font-size: 120%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    font-weight: normal;
    color: #303030;
    padding: .5em;
    width: 100%;
}
#webtivistform input[type="submit"] {
    margin: 5px 5px 5px 5px;
    padding: 5px;
    font-size: 16px;
}
#webtivistform button {
    margin: 5px 5px 5px 5px;
    padding: 1em 1em .9em;
    font-size: 22px;
    background-color: #e74c3c;
    border-color: #CE3323;
    width: 98%;
    color: #FFFFFF;
}
#webtivistform textarea {
    width: 300px;
    height: 230px;
    margin: 5px 5px 5px 5px;
    border: 1px solid #E6E6E6;
    background: #FAFAFA;
    padding: 5px;
}
#webtivistform label {
    position: relative;
    clear: left;
    float: left;
    width: 10em;
    margin: 10px 5px 5px 5px;
    font-size: 18px;
}
#webtivistform fieldset {
    margin: 10px 0 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
#webtivistform legend {
    color: #000;
    margin-bottom: 0;
    border-bottom: 3px solid #e74c3c;
}
#webtivistform h3 {
    color: black;
    border-bottom: 3px solid #e74c3c;
    padding-bottom: 5px;
    font-weight: 500;
    margin: 5px;
}
#container {
    padding: 20px 20px 20px 20px;
    /* remember that padding is the space inside the div box and margin is the space outside the div box */
}
